{% extends 'NewscoopIngestPluginBundle:Admin:index.html.twig' %}

{% block admin_content %}
    {% set contentActive = 'active' %}

    {{ parent() }}

    <div>
        Content action
    </div>

{% endblock %}