{% extends 'NewscoopIngestPluginBundle:Admin:index.html.twig' %}

{% block admin_content %}
    {% set feedsActive = 'active' %}

    {{ parent() }}

    <div>
        {{ form_start(form) }}

            {{ form_widget(form) }}

        {{ form_end(form) }}
    </div>
{% endblock %}