{% extends 'NewscoopIngestPluginBundle:Admin:index.html.twig' %}

{% block admin_content %}
    {% set menuActive = 'parsers' %}

    {{ parent() }}

    {% if form %}
        {{ form(form) }}
    {% else %}
        <p>{{ 'plugin.ingest.parsers.nonew'|trans }}</p>
    {% endif %}


{% endblock %}
